<div class="flex justify-center items-center p-12">
  <form class="space-y-5" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="space-y-2">
      <label for="email" class="block text-sm font-medium text-gray-700"> email </label>
      <input
        id="email"
        pInputText
        formControlName="email"
        class="w-full px-4 py-3 border border-gray-300 rounded-lg"
        placeholder="Enter your email"
        [ngClass]="{
          'border-red-500': email?.invalid && (email?.touched || email?.dirty),
          'border-gray-300': email?.valid || !email?.touched,
        }"
        required
      />
      <small *ngIf="email?.invalid && (email?.touched || email?.dirty)" class="text-red-500">
        <span *ngIf="email?.errors?.['required']">Email is required.</span>
      </small>
    </div>
    <div class="space-y-2">
      <label for="password" class="block text-sm font-medium text-gray-700"> Password </label>
      <input
        id="password"
        pInputText
        formControlName="password"
        type=""
        class="w-full px-4 py-3 border border-gray-300 rounded-lg"
        placeholder="Enter your password"
        [ngClass]="{
          'border-red-500': password?.invalid && (password?.touched || password?.dirty),
          'border-gray-300': password?.valid || !password?.touched,
        }"
        required
      />
      <small
        *ngIf="password?.invalid && (password?.touched || password?.dirty)"
        class="text-red-500"
      >
        <span *ngIf="password?.errors?.['required']">Password is required.</span>
        <span *ngIf="password?.errors?.['minlength']">Password must be at least 6 characters.</span>
      </small>
    </div>

    <button
      type="submit"
      pButton
      [disabled]="form.invalid"
      class="w-full bg-blue-600 text-white font-semibold py-3 px-4 rounded-lg"
    >
      Sign In
    </button>
    <!-- Footer -->
  </form>
</div>
