/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

:root {
  --color-primary: #1B3C53;
  --color-secondary: #234C6A;
  --color-tertiary: #456882;
  --color-light: #D2C1B6;

  --color-primary-hover: #163246;
  --color-text: #ffffff;
  --color-bg: #D2C1B6;
}
.text-primary {
  color: var(--color-primary);
}

.text-secondary {
  color: var(--color-secondary);
}

.text-tertiary {
  color: var(--color-tertiary);
}

.text-light {
  color: var(--color-light);
}

.bg-primary {
  background-color: var(--color-bg);
}



body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
  background-color: var(--color-text);
  scroll-behavior: smooth;
}
